<div class="filtros">
  <h3>Filtrar Pedidos</h3>
  <!-- Filtrar por estado -->
  <div class="filtro-estado">
    <button (click)="filtrarPorEstado('activo')">Estado: Activo</button>
    <button (click)="filtrarPorEstado('entregado')">Estado: Entregado</button>
    <button (click)="filtrarPorEstado('atrasado')">Estado: Atrasado</button>
  </div>

  <!-- Filtrar por rango de fecha de entrada -->
  <div class="filtro-fecha-contenedor">
    <label for="fechaInicio">Fecha de Entrada desde:</label>
    <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio">
    
    <label for="fechaFin">hasta:</label>
    <input type="date" id="fechaFin" [(ngModel)]="fechaFin">
    
    <button (click)="filtrarPorFechaEntrada(fechaInicio, fechaFin)">Filtrar por Fecha</button>
  </div>

  <!-- Filtro por cliente -->
  <div class="filtro-cliente-contenedor">
    <input type="text" [(ngModel)]="clienteFiltro" placeholder="Buscar por apellido o nombre de cliente" class="filtro-cliente-input">
    <button (click)="filtrarPorCliente()" class="filtro-cliente-boton">Filtrar por Cliente</button>
  </div>

  <!-- Restablecer filtros -->
  <button class="reset-button" (click)="resetearFiltros()">Restablecer Filtros</button>
</div>

<div *ngIf="pedidosCercanos.length > 0" class="alerta-pedidos-cercanos">
  <p>
    ⚠️ Hay {{ pedidosCercanos.length }} pedido(s) que están a punto de finalizar.
  </p>
  <button mat-button (click)="abrirModalPedidosCercanos()" class="detalles-btn">Ver detalles</button>
</div>

<!-- Lista de Pedidos -->
<div class="pedido-lista">
  <h2 class="subtitulo-1">Lista de Pedidos</h2>

  <!-- Contenedor individual de cada pedido -->
  <div *ngFor="let pedido of pedidosFiltrados; trackBy: trackById" class="pedido-datos">
    <p>ID: {{pedido.id}}</p>
    <p>Cliente: {{ pedido.cliente.nombre }} {{ pedido.cliente.apellido }}</p>
    <p>Fecha de Entrada: {{pedido.fechaEntrada | date: 'dd-MM-yyyy': 'UTC'}}</p>
    <p [ngClass]="{'fecha-cercana': pedidosCercanos.includes(pedido)}">
      Fecha de Salida Estimada: {{ pedido.fechaSalidaEstimada | date: 'dd-MM-yyyy':'UTC' }}
    </p>
    <p class="estado" [ngClass]="{
      'estado-activo': pedido.estado === 'activo',
      'estado-entregado': pedido.estado === 'entregado',
      'estado-atrasado': pedido.estado === 'atrasado'
    }">
      Estado: {{ pedido.estado }}
    </p>
    <p><strong>Fecha de Salida real:</strong> 
      {{ pedido.estado === 'entregado' && pedido.fechaEntregaEfectiva ? 
      (pedido.fechaEntregaEfectiva | date: 'dd-MM-yyyy':'UTC') : 'No se entregó' }}
    </p>
    <p>Marca: {{pedido.marcaAuto}}</p>
    <p>Modelo: {{pedido.modeloAuto}}</p>
    <p>Numero de serie: {{pedido.numeroSerie}}</p>
    <p>Descripcion: {{pedido.descripcion}}</p>
    <div *ngIf="pedido.presupuesto">
      <h3>Presupuesto</h3>
      <p>Fecha del Presupuesto: {{pedido.presupuesto.fecha | date}}</p>
      <p>Descuento: {{pedido.presupuesto.descuento}}%</p>
      <p>Total: {{pedido.presupuesto.total | currency }}</p>

      <!-- Listado de Items del Presupuesto -->
      <h4>Items del Presupuesto:</h4>
      <ul>
        <li *ngFor="let item of pedido.presupuesto.items">
          <p>Nombre: {{item.nombre}}</p>
          <p>Descripción: {{item.descripcion}}</p>
          <p>Precio Unitario: {{item.precioUnitario | currency}}</p>
          <p>Precio Mano de Obra: {{item.precioManoObra | currency}}</p>
          <p>Precio Final: {{item.precioFinal | currency}}</p>
        </li>
      </ul>
    </div>
    
    <!-- Contenedor de botones -->
    <div class="botones">
      <button (click)="eliminarPedidos(pedido.id)" class="eliminar-btn">Eliminar</button>
      <button (click)="exportarPedidoPDF(pedido)" class="pdf-btn">Exportar PDF</button>
      <button (click)="confirmarEntrega(pedido)" class="entregar-btn">Entregar Pedido</button>
      <a [routerLink]="['update', pedido.id]" class="actualizar-btn">Modificar</a>
      <button (click)="notificarCliente(pedido)" class="notificar-btn">Notificar Cliente</button>
    </div>
  </div>
</div>
