
<section>
    <fieldset>
        <legend>Item</legend>
        <form action="" [formGroup]="formulario" (ngSubmit)="addItem()">

            <label for="">Nombre</label>
            <input type="text" formControlName="nombre">
            @if (formulario.controls['nombre'].getError('required') && formulario.controls['nombre'].touched) {
                <div class="error">Campo Requerido</div>
            }
            
            <label for="">Descripcion</label>
            <input type="text" formControlName="descripcion">
            @if (formulario.controls['descripcion'].getError('required') && formulario.controls['descripcion'].touched) {
                <div class="error">Campo Requerido</div>
            }

            <label for="">Precio Unitario</label>
            <input type="number" formControlName="precioUnitario">
            @if (formulario.controls['precioUnitario'].getError('required') && formulario.controls['precioUnitario'].touched) {
                <div class="error">Campo Requerido</div>
            }

            <label for="">Precio Mano de Obra</label>
            <input type="number" formControlName="precioManoObra">
            @if (formulario.controls['precioManoObra'].getError('required') && formulario.controls['precioManoObra'].touched) {
                <div class="error">Campo Requerido</div>
            }

            <label for="">Precio Total</label>
            <input type="number" formControlName="precioTotal">
            @if (formulario.controls['precioTotal'].getError('required') && formulario.controls['precioTotal'].touched) {
                <div class="error">Campo Requerido</div>
            }

            <button>Add</button>
        </form>
    </fieldset>
</section>