<section>
    <div class="div1">
        <h2>Cargar de Clientes</h2>
     <form (ngSubmit)="eventSubmit()" [formGroup]="formulario">

        @for (tipo of tipos; track $index) {
            @if ($index == 0) {
                <div class="NAdiv">
                    <div class="{{tipos[$index]}}IMG"></div>
                    <input type="text" formControlName={{tipo}} id={{tipo}} class="{{tipo}}" placeholder="{{tiposPlace[$index]}}">
                    <input type="text" formControlName={{tipos[$index+1]}} id={{tipos[$index+1]}} class="{{tipos[$index+1]}}" placeholder="{{tiposPlace[$index+1]}}">
                </div>
            }@else if($index>1){
                <div class="{{tipo}}div">
                    <div class="{{tipos[$index]}}IMG"></div>
                    <input type="text" formControlName={{tipo}} id={{tipo}} class="{{tipo}}" placeholder="{{tiposPlace[$index]}}">
                </div>
            }
        }
        <div class="selectdiv">
            <img class="imgSel">
            <select id="metodoPago">
                <option value="Efectivo">Efectivo</option>
                <option value="Tarjeta de Credito">Tarjeta de Crédito</option>
                <option value="Tarjeta de Debito">Tarjeta de Débito</option>
            </select>
        </div>
        
     </form> 
    </div>
    <div class="img1"></div>
       
</section>
