<section class="form-container">
  <div class="form-card">
    <h2 class="form-title">Carga de Clientes</h2>

    <form (ngSubmit)="eventSubmit()" [formGroup]="formulario" class="form-fields">

      <!-- Nombre y Apellido -->
      <div class="form-row">
        <div class="field">
          <input type="text" formControlName="nombre" placeholder="Nombre"
            [ngClass]="{ 'invalid': formulario.get('nombre')?.touched && formulario.get('nombre')?.invalid }" />
          <div class="error" *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.hasError('required')">
            Campo requerido
          </div>
          <div class="error" *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.hasError('minlength')">
            Mínimo 2 caracteres
          </div>
          <div class="error" *ngIf="formulario.get('nombre')?.touched && formulario.get('nombre')?.hasError('pattern')">
            Solo se permiten letras
          </div>
        </div>
        


        <div class="field">
          <input type="text" formControlName="apellido" placeholder="Apellido"
            [ngClass]="{ 'invalid': formulario.get('apellido')?.touched && formulario.get('apellido')?.invalid }" />
          <div class="error" *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.hasError('required')">
            Campo requerido
          </div>
          <div class="error" *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.hasError('minlength')">
            Mínimo 3 caracteres
          </div>
          <div class="error" *ngIf="formulario.get('apellido')?.touched && formulario.get('apellido')?.hasError('pattern')">
            Solo se permiten letras
          </div>
        </div>
      </div>

      <!-- DNI -->
      <div class="field">
        <input type="text" formControlName="dni" placeholder="DNI"
          [ngClass]="{ 'invalid': formulario.get('dni')?.touched && formulario.get('dni')?.invalid }" />
        <div class="error" *ngIf="formulario.get('dni')?.touched && formulario.get('dni')?.hasError('required')">
          Campo requerido
        </div>
        <div class="error" *ngIf="formulario.get('dni')?.touched && (formulario.get('dni')?.hasError('minlength') || formulario.get('dni')?.hasError('maxlength'))">
          Debe tener 8 caracteres
        </div>
        <div class="error" *ngIf="formulario.get('dni')?.touched && formulario.get('dni')?.hasError('pattern')">
        Solo se permiten números
        </div>

      </div>

      <!-- Número -->
      <div class="field">
        <input type="text" formControlName="numero" placeholder="Número"
          [ngClass]="{ 'invalid': formulario.get('numero')?.touched && formulario.get('numero')?.invalid }" />
        <div class="error" *ngIf="formulario.get('numero')?.touched && formulario.get('numero')?.hasError('required')">
          Campo requerido
        </div>
        <div class="error" *ngIf="formulario.get('numero')?.touched && (formulario.get('numero')?.hasError('minlength') || formulario.get('numero')?.hasError('maxlength'))">
          Debe tener 10 caracteres
        </div>
        <div class="error" *ngIf="formulario.get('numero')?.touched && formulario.get('numero')?.hasError('pattern')">
          Solo se permiten números
        </div>

      </div>

      <!-- Domicilio -->
      <div class="field">
        <input type="text" formControlName="domicilio" placeholder="Domicilio"
          [ngClass]="{ 'invalid': formulario.get('domicilio')?.touched && formulario.get('domicilio')?.invalid }" />

        <div class="error" *ngIf="formulario.get('domicilio')?.touched && formulario.get('domicilio')?.hasError('required')">
          Campo requerido
        </div>

        <div class="error" *ngIf="formulario.get('domicilio')?.touched && formulario.get('domicilio')?.hasError('minlength')">
            Mínimo 2 caracteres
        </div>
        


      </div>

      <!-- Altura -->
      <div class="field">
        <input type="text" formControlName="altura" placeholder="Altura"
          [ngClass]="{ 'invalid': formulario.get('altura')?.touched && formulario.get('altura')?.invalid }" />
        <div class="error" *ngIf="formulario.get('altura')?.touched && formulario.get('altura')?.hasError('required')">
          Campo requerido
        </div>
        <div class="error" *ngIf="formulario.get('altura')?.touched && formulario.get('altura')?.hasError('minlength')">
            Mínimo 2 caracteres
        </div>
      </div>

       <!-- Método de pago -->
      <div class="field">
        <select formControlName="metodoPago"
          [ngClass]="{ 'invalid': formulario.get('metodoPago')?.touched && formulario.get('metodoPago')?.invalid }">
          <option value="">Seleccione método de pago</option>
          <option value="efectivo">Efectivo</option>
          <option value="tarjeta de Credito">Tarjeta de Crédito</option>
          <option value="tarjeta de Debito">Tarjeta de Débito</option>
        </select>
        <div class="error" *ngIf="formulario.get('metodoPago')?.touched && formulario.get('metodoPago')?.hasError('required')">
          Campo requerido
        </div>
      </div>

      <button type="submit" [disabled]="!formulario.valid">Aceptar</button>
    </form>
  </div>

  <div class="form-image"></div>
</section>