<section>
    <fieldset>
        <legend>Presupuesto</legend>
        <form action="">


            <label for="">Fecha</label>
            <input type="date">

            <label for="">Descuento</label>
            <input type="number">

            <label for="">Items</label>
            <button (click)="cargarItem()">Agregar Item</button>
            @if (auxiliar) {

                <app-presupuesto-add></app-presupuesto-add>
            }
            
            
        </form>
    </fieldset>
</section>