
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  background-color: #4d9eda;
  background-image: linear-gradient(to bottom,#51b1fa ,#2c8cd6);
  color: #FFF;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}
footer img {
  width: 10rem;
  max-width: 100%;
  height: auto;
}
footer ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

footer ul li a:hover{
  color: #ffcc00; /*Cambia el color al pasar el mouse*/
}

.prect{
    margin: 0;
    align-items: center;
    font-size: 1.2rem;
    padding: .7rem;
    background-image: url("../img/Malvinas1.png");
    background-size: 7rem;
    background-repeat: no-repeat; 
    background-position: left center; 
    padding-left: 8rem;
    transition: .5s;
}
.prect2{
    margin: 0;
    align-items: center;
    font-size: 1.3rem;
    padding: .7rem;
    background-image: url("../img/Malvinas1.png");
    background-size: 8rem;
    background-repeat: no-repeat; 
    background-position: left center; 
    padding-left: 8rem;
    transition: .5s;
}
li{
  cursor: pointer;
}