.espacio{
    margin: 5rem;
}
footer{
    height: 15rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgba(255, 255, 255, 0.644);
    align-items: center;
    border-top:black;
}
p{
    margin: 0 5rem 0 5rem;
}
