:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* vh = viewport height, al 100 utiliza toda la altura de la ventana*/
}

.contenedor{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  box-sizing: border-box;
}