

<form [formGroup]="formulario" (ngSubmit)="agregarPedido()">
  <fieldset>
    <legend>Agregar Pedido</legend>




    <label for="cliente">Cliente:</label>
    <select id="cliente" formControlName="cliente">
      <option *ngFor="let cliente of clientes" [ngValue]="cliente">
        {{ cliente.nombre }} {{ cliente.apellido }} (DNI: {{ cliente.dni }})
      </option>
    </select>
    <div *ngIf="formulario.controls['cliente'].touched && formulario.controls['cliente'].invalid" class="error">
      Cliente es obligatorio
    </div>



    <label for="fechaEntrada">Fecha de Entrada:</label>
    <input type="date" id="fechaEntrada" formControlName="fechaEntrada">
    <div *ngIf="formulario.controls['fechaEntrada'].touched && formulario.controls['fechaEntrada'].invalid" class="error">
    Fecha de Entrada es obligatoria
    </div>



    <label for="fechaSalidaEstimada">Fecha de Salida Estimada:</label>
    <input type="date" id="fechaSalidaEstimada" formControlName="fechaSalidaEstimada">
    <div *ngIf="formulario.controls['fechaSalidaEstimada'].touched && formulario.controls['fechaSalidaEstimada'].invalid" class="error">
    Fecha de Salida Estimada es obligatoria
    </div>

    <div *ngIf="formulario.errors?.['fechaInvalida']" class="error">
    La fecha de entrada no puede ser posterior a la fecha estimada de salida.
    </div>



    
    <label for="estado">Estado:</label>
    <select id="estado" formControlName="estado">
      <option value="activo">Activo</option>
      <option value="entregado">Entregado</option>
    </select>

    <label for="marcaAuto">Marca del Auto:</label>
    <select id="marcaAuto" formControlName="marcaAuto">
      <option value="ford">Ford</option>
      <option value="chevrolet">Chevrolet</option>
      <option value="fiat">Fiat</option>
      <option value="volkswagen">Volkswagen</option>
      <option value="renault">Renault</option>
      <option value="peugeot">Peugeot</option>
      <option value="toyota">Toyota</option>
      <option value="nissan">Nissan</option>
      <option value="honda">Honda</option>
      <option value="hyundai">Hyundai</option>
      <option value="kia">Kia</option>
      <option value="mercedes-benz">Mercedes Benz</option>
      <option value="nissan">Nissan</option>
      <option value="peugeot">Peugeot</option>
      <option value="renault">Renault</option>
      <option value="subaru">Subaru</option>      
      <option value="toyota">Toyota</option>
      <option value="volkswagen">Volkswagen</option>
      <option value="volvo">Volvo</option>
    </select>


    <div *ngIf="formulario.controls['marcaAuto'].touched && formulario.controls['marcaAuto'].invalid" class="error">
      Marca del Auto es obligatoria
    </div>

    <label for="modeloAuto">Modelo del Auto:</label>
    <input type="text" id="modeloAuto" formControlName="modeloAuto">
    <div *ngIf="formulario.controls['modeloAuto'].touched && formulario.controls['modeloAuto'].invalid" class="error">
      Modelo del Auto es obligatorio
    </div>

    <label for="numeroSerie">Número de Serie:</label>
    <input type="text" id="numeroSerie" formControlName="numeroSerie">
    <div *ngIf="formulario.controls['numeroSerie'].touched && formulario.controls['numeroSerie'].invalid" class="error">
      Número de Serie es obligatorio
    </div>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>

    <label for="presupuesto">Presupuesto:</label>

    <button (click)="abrirDialogPresupuesto()" type="button">Agregar Presupuesto</button>
    

    
    
    <div *ngIf="formulario.controls['presupuesto'].touched && formulario.controls['presupuesto'].invalid" class="error">
      Presupuesto es obligatorio
    </div>


<br>
    <button type="submit" [disabled]="!formulario.valid">Agregar Pedido</button>
  </fieldset>
</form>