/* Contenedor de título y botones de filtros */
.presupuesto-seccion {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.presupuesto-lista h3 {
    font-size: 2rem;
    color: #005b96;
    margin-bottom: 10px;
    text-align: center;
}
.presupuesto-list{
    list-style-type: none;
}

.filtros-botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.filtros-botones button {
    background-color: #005b96;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtros-botones button:hover {
    background-color: #003f6b;
}

/* Lista de presupuestos */
.presupuesto-lista {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.presupuesto-item {
    padding: 15px;
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.presupuesto-header {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.items-list h4 {
    font-size: 1.2rem;
    color: #005b96;
    margin-bottom: 10px;
}

.items-list ul {
    list-style-type: none;
    padding-left: 0;
}

.item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.item:last-child {
    border-bottom: none;
}

.eliminar-btn {
    background-color: #d9534f;
    color: white;
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.eliminar-btn:hover {
    background-color: #c9302c;
}
.botones-presupuesto {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.actualizar-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actualizar-btn:hover {
  background-color: #218838;
}