
<div class="presupuesto-lista">

    <h3>Presupuestos</h3><br>
    <div class="filtros-botones">
        <button (click)="ordenarPresupuestos('asc')">Ordenar por Más Antiguos</button>
        <button (click)="ordenarPresupuestos('desc')">Ordenar por Más Nuevos</button>
    </div>

    <ul class="presupuesto-list">
        <li *ngFor="let pres of listaPresupuestos; trackBy: trackByIndex" class="presupuesto-item">
            <div class="presupuesto-header">
                <strong>Fecha:</strong> {{ pres.fecha  }} <br>
                <strong>Descuento:</strong> {{ pres.descuento }}% <br>
                <strong>Total:</strong> {{ pres.total | currency }} 
                <p><strong>Auto asignado:</strong> 
                {{ pres.autoAsignado || obtenerPedidoPorPresupuestoId(pres.id)?.marcaAuto + ' ' + obtenerPedidoPorPresupuestoId(pres.id)?.modeloAuto || 'S/A' }}
                </p>
                <p><strong>Nro Serie:</strong> 
                {{ pres.numeroSerie || obtenerPedidoPorPresupuestoId(pres.id)?.numeroSerie || 'S/A' }}
                </p>
                <p><strong>Pedido a nombre de:</strong> 
                {{ pres.pedidoANombreDe || (obtenerPedidoPorPresupuestoId(pres.id)?.cliente?.nombre + ' ' + obtenerPedidoPorPresupuestoId(pres.id)?.cliente?.apellido) || 'S/A' }}
                </p>             
            </div>
            <div class="items-list">
                <h4>Items del Presupuesto:</h4>
                <ul>
                    <li *ngFor="let pre of pres.items; trackBy: trackByIndex" class="item">
                        <span><strong>Nombre:</strong> {{ pre.nombre }}</span><br>
                        <span><strong>Descripción:</strong> {{ pre.descripcion }}</span><br>
                        <span><strong>Precio Unitario:</strong> {{ pre.precioUnitario | currency }}</span><br>
                        <span><strong>Precio Mano Obra:</strong> {{ pre.precioManoObra | currency}}</span><br>
                        <span><strong>Precio Final:</strong> {{ pre.precioFinal | currency}}</span><br>
                    </li>
                </ul>
                <div class="botones-presupuesto">
                <button class="actualizar-btn" (click)="editarPresupuesto(pres.id)">Actualizar</button>
                <button class="eliminar-btn" (click)="deletePresupuestoDB(pres.id)">Eliminar</button>
                </div>

            </div>
        </li>
    </ul>
</div>
