<section>
    <fieldset>
      <legend>Alta Presupuesto</legend>
  
      <form [formGroup]="formulario" (ngSubmit)="addPresupuesto()">
        <label for="fecha">Fecha</label>
        <input type="date" formControlName="fecha">
        <div *ngIf="formulario.controls['fecha'].touched && formulario.controls['fecha'].invalid" class="error">
          Campo Requerido
        </div>
        <label for="items">Items</label>
        <button (click)="cargarItem = true" type="button">Cargar Item</button>
        <div *ngIf="cargarItem">
          <app-item-add (emitirEvento)="addItem($event)"></app-item-add>
        </div>
  
        <button type="submit" [disabled]="!formulario.valid">Agregar Presupuesto</button>
      </form>
    </fieldset> 
  </section>
  