/* Contenedor general */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
  background-color: #eaf1fc;
}

/* Tarjeta de formulario */
.form-card {
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem 3rem;
  width: 100%;
  max-width: 500px;
}

.numeroIMG{
    background-image: url("../../img/numero.png");
}
.dniIMG{
    background-image: url("../../img/id-insignia.png");
}
.domicilioIMG{
    background-image: url("../../img/chimenea-de-la-casa.png");
}
.alturaIMG{
    background-image: url("../../img/altura-del-texto.png");
}
.imgSel{
    background-image: url("../../img/tarjeta-de-credito.png");
}
div div{
    background-repeat: no-repeat;
    background-size:contain;
    padding: 0;
    margin-bottom: 2rem;
    height: 2rem;
}
.numerodiv,.dnidiv,.domiciliodiv,.alturadiv, .selectdiv{
    display: grid;
    grid-template-columns: 2rem 100% ;
    gap: 0.6rem;
    justify-content: center;
}
select{
    height: 2rem;
}
button{
    background-color: rgba(26, 250, 168, 0.482);
    border-radius: 1rem;
    border-color: #83cfff66;
    width:100%;
    text-shadow: .5px .5px #000000;
    color: rgb(255, 255, 255);
    height: 2rem;
}
.botondiv{
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red; /*resalta campos invalidos*/
    background-color: #ffe6e6; 
}
/* .error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10.5rem; 
    display: flex; 
    text-align: right; 
}



.error-position {
    position: absolute;
    left: 10.5rem; 
    top: 2.5rem; 
} */
