<section>
    <div class="div1">
        <h2 class="h2">Modificar Clientes</h2>
         <form (ngSubmit)="eventSubmit()" [formGroup]="formulario">
   
            @for (tipo of tipos; track $index) {
                @if ($index == 0) {
                    <div class="NAdiv">
                        <div class="{{tipos[$index]}}IMG">
                        </div>
                        <input type="text" formControlName={{tipo}} class="{{tipo}}" placeholder="{{tiposPlace[$index]}}">
                        @if (formulario.controls['nombre'].touched && formulario.controls['nombre'].hasError('required')){
                            <!-- <div class="error">Campo requerido</div> -->
                        }
                          @if (formulario.controls['nombre'].touched && formulario.controls['nombre'].hasError('minlength')) {
                            <!-- <div class="error">Debe contener al menos 2 caracteres</div> -->
                        }
                        <input type="text" formControlName={{tipos[$index+1]}} id={{tipos[$index+1]}} class="{{tipos[$index+1]}}" placeholder="{{tiposPlace[$index+1]}}">
                        @if (formulario.controls['apellido'].touched && formulario.controls['apellido'].hasError('required')) {
                            <!-- <div class="error">Campo requerido</div> -->
                        }
                    </div>
                }@else if($index>1){
                    <div class="{{tipo}}div">
                        <div class="{{tipos[$index]}}IMG"></div>
                        <input type="text" formControlName={{tipo}} class="{{tipo}}" placeholder="{{tiposPlace[$index]}}">   
                        @if (formulario.get(tipo)?.touched && formulario.get(tipo)?.hasError('required')) {
                            <!-- <div class="error">Campo requerido</div> -->
                          }
                          @if (formulario.get(tipo)?.touched && formulario.get(tipo)?.hasError('minlength')) {
                            <!-- <div class="error">Debe contener un valor válido</div> -->
                          }
                    </div>
                    
                    
                }
            }
            <div class="selectdiv" >
                <div class="imgSel"></div>
                <select id="metodoPago" formControlName="metodoPago">
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta de Credito">Tarjeta de Crédito</option>
                    <option value="Tarjeta de Debito">Tarjeta de Débito</option>
                </select>
                @if (formulario.controls['metodoPago'].touched && formulario.controls['metodoPago'].hasError('required')) {
                    <!-- <div class="error">Seleccione un método de pago</div> -->
                }
            </div>
            <div class="botondiv">
                <button type="submit" [disabled]="!formulario.valid">Aceptar</button>
            </div>
            
          </form> 
         
       </div>
</section>
