.contenidoIMG1 {
    background-image: url("../img/Malvinas1.png");
    height: 30rem;
    background-size: cover;
    background-position: center;
    margin: 0; 
    padding: 1rem; 
    grid-column: 2;
}

.espacio{
    margin-top: 6rem;
    
}
section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: rgba(255, 255, 255, 0.644);
}
h2{
    display: grid;
    font-size: 4rem;
    margin:0 0 0 2rem;
    padding: 0;
    background: rgb(255, 208, 0);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
    
}
p{
    margin: 7rem 0 0rem 2rem;
    font-size: 1.4rem;
}
.contenedor2{
    display: grid;
    grid-template-rows: 10rem 15rem;
    align-items: center;

}