<div class="espacio"></div>
<section>
    <div class="contenedor2">
        <h2>Sobre <br> Nosotros</h2>
        <p>Hace más de 30 años que ofrecemos nuestros 
        servicios de rectificacion de motores a clientes de todas partes del pais.
        Nos especializamos en la Rectificación integral de Motores, Cigueñales, 
        Cilindros o bielas, tanto de motores Nafteros o Diesel, ya sean de autos, camionetas
        o camiones.</p>
    </div>

    <div class="contenidoIMG1"></div>
   
</section>