<div class="espacio"></div>
<section>
    <div class="contenedor2">
        <h2>Sobre <br> Nosotros</h2>
        <p>Hace más de 30 años que ofrecemos nuestros 
        servicios de rectificación de motores a clientes de todas partes del país.
        Nos especializamos en la rectificación integral de motores, cigueñales,
        cilindros o bielas, tanto de motores nafteros o diesel, ya sean de autos, camionetas
        o camiones.</p>
    </div>

    <div class="contenidoIMG1"></div>
   
</section>