<div class="espacio"></div>
<section>
    <div class="contenedor2">
        <h2>Sobre <br> Nosotros</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae iste quod pariatur possimus quam 
            vitae voluptatum. Itaque, veritatis quia. Deserunt quae tempora sapiente. Porro nemo quisquam 
            minus laboriosam illum voluptatibus?Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Sequi minus accusamus assumenda inventore
             voluptas dolorem incidunt non, mollitia labore ullam nam, illum eum, ducimus blanditiis praesentium 
             aspernatur minima maxime iure.</p>
    </div>
    
    <div class="contenidoIMG1"></div>
</section>