<section class="contenedorBackColor" [ngClass]="estilosClass">
    <nav class="contenedorMenu">
        <h1 class="h1Dinamic" [ngClass]="{h1Dinamic: !dentroH1, h1Dinamic2: dentroH1}" 
            (mouseover)="onMouseOverH1()" (mouseleave)="onMouseLeaverH1()">
            Rectificadora <br> Malvinas
        </h1>
        <ul>
            <li *ngFor="let item of listaMenu; let i = index">
                <ng-container [ngSwitch]="item">
                    <!-- Ruta para Presupuestos -->
                    <a *ngSwitchCase="'Presupuestos'" class="aDinamico"
                       [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                       (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                       [routerLink]="['presupuestos']">
                       {{item}}
                    </a>

                    <!-- Ruta para Cuerpo -->
                    <a *ngSwitchCase="'Menu'" class="aDinamico"
                       [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                       (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                       [routerLink]="['']">
                       {{item}}
                    </a>

                     <!-- Ruta para List Cliente -->
                     <a *ngSwitchCase="'Clientes'" class="aDinamico"
                     [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                     (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                     [routerLink]="['clientes']">
                     {{item}}
                  </a>

                   <!-- Ruta para Add cliente -->
                   <a *ngSwitchCase="'Agregar Cliente'" class="aDinamico"
                   [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                   (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                   [routerLink]="['crearCliente']">
                   {{item}}
                </a>

                
                <!-- Ruta para listar Pedidos -->
                <a *ngSwitchCase="'Pedidos'" class="aDinamico"
                [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                [routerLink]="['pedidos']">
                {{item}}
                 </a>

                 <!-- Ruta para Agregar Pedidos -->
                 <a *ngSwitchCase="'Agregar Pedido'" class="aDinamico"
                 [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                 (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                 [routerLink]="['addPedido']">
                 {{item}}
                </a>

                <!-- Ruta para ir al Calendario -->
                <a *ngSwitchCase="'Calendario'" class="aDinamico"
                       [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                       (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                       [routerLink]="['calendario-pedidos']">
                       {{item}}
                </a>

                    <!-- Ruta por defecto o para otros ítems -->
                <a *ngSwitchDefault class="aDinamico"
                       [ngClass]="{aDinamico: !dentroA[i], aDinamico2: dentroA[i]}"
                       (mouseover)="onMouseOverA(i)" (mouseleave)="onMouseLeaveA(i)"
                       [routerLink]="['']">
                       {{item}}
                </a>
                </ng-container>
            </li>
        </ul>
    </nav>
</section>
