.h1Dinamic{
    color: #FFFF ;
    margin: 0;
    align-items: center;
    font-size: 1.5rem;
    background-image: url("../img/Malvinas1.png");
    background-size: 8rem;
    background-repeat: no-repeat; 
    background-position: left center; 
    padding-left: 8rem;
    transition: .5s;
}
.h1Dinamic2{
    color: #FFFF ;
    margin: 0;
    align-items: center;
    font-size: 1.6rem;
    background-image: url("../img/Malvinas1.png");
    background-size: 8.5rem;
    background-repeat: no-repeat; 
    background-position: left center; 
    padding-left: 8.4rem;
    transition: .5s;
}
.contenedorBackColor{
  
    width: 100%;
    height: 8rem; 
    position: relative;
}
.contenedorMenu{
    position: absolute;
    top: 50%; /* 50% desde la parte superior del padre */
    left: 50%; /* 50% desde la izquierda del padre */
    transform: translate(-50%, -50%); /* Centra el hijo */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
}

ul {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos de manera uniforme */
    align-items: center;
    padding: 0;
    margin-left: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none; /* Elimina los puntos de lista */
    gap: 50px; /* Espaciado mínimo de 5px entre cada elemento */
}

li {
    text-align: center;
}

.aDinamico,
.aDinamico2 {
    display: block;
    text-decoration: none;
    color: #FFFF;
    transition: .5s;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    text-align: center;
}



.menu-personalizado{
    background-image: linear-gradient(to bottom,#eac7ff ,#deadff);
}

