.h1Dinamic{
    color: #FFFF ;
    margin: 0;
    align-items: center;
    font-size: 1.5rem;
    background-image: url("../img/Malvinas1.png");
    background-size: 8rem;
    background-repeat: no-repeat; 
    background-position: left center; 
    padding-left: 8rem;
    transition: .5s;
}
.h1Dinamic2{
    color: #FFFF ;
    margin: 0;
    align-items: center;
    font-size: 1.6rem;
    background-image: url("../img/Malvinas1.png");
    background-size: 8.5rem;
    background-repeat: no-repeat; 
    background-position: left center; 
    padding-left: 8.4rem;
    transition: .5s;
}
.contenedorBackColor{
  
    width: 100%;
    height: 8rem; 
    position: relative;
}
.contenedorMenu{
    position: absolute;
    top: 50%; /* 50% desde la parte superior del padre */
    left: 50%; /* 50% desde la izquierda del padre */
    transform: translate(-50%, -50%); /* Centra el hijo */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
}



li{
   list-style-type: none;
   text-align: center;
   
}
ul{
    grid-column: 2;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    justify-items: center;
    padding: 0;
    margin-left:  4rem;
    margin-block-start: 0;
    margin-block-end: 0;
}
.aDinamico {
    text-decoration: none;
    color: #FFFF;
    transition: .5s;
    font-size: 1.1rem; /* Ajusta el tamaño según prefieras */
    font-weight: bold; /* Aplica negrita */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.aDinamico2 {
    text-decoration: none;
    color: #4A4A4A;
    font-size: 1.1rem; /* Ajusta el tamaño según prefieras */
    font-weight: bold; /* Aplica negrita */
    text-shadow: 0 0px 4px #807e7e;
    transition: .5s;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.menu-personalizado{
    background-image: linear-gradient(to bottom,#eac7ff ,#deadff);
}

