<section>
  <div class="div1">

    <!-- Filtro de Clientes -->
    <section class="filtro-pedidos">
      <h2>Filtrar Clientes</h2>
      <div class="div-filtros">

        <!-- Filtro por Nombre o Apellido -->
        <div class="filtro-nom-ape">
          <label>Buscar por Nombre o Apellido:</label>
          <input type="text" placeholder="Ingrese nombre o apellido" [(ngModel)]="filtro" (keypress)="filtrarClientes()">
        </div>

        <!-- Filtro por DNI -->
        <div class="filtro-dni">
          <label>Buscar por DNI:</label>
          <input type="text" placeholder="Ingrese DNI" [(ngModel)]="dni" (keypress)="buscarClienteXDNI(dni, $event)">
        </div>

        <!-- Botón de Restablecer Filtros -->
        <button class="btn-reset" (click)="resetearFiltros()">Restablecer Filtros</button> 
      </div>

    </section>

    <!-- Tabla de Resultados de Búsqueda por Nombre o Apellido y DNI -->
    <div *ngIf="clientesEncontrados.length > 0" class="divTable">
      <h3>Resultados de búsqueda por Nombre, Apellido o DNI</h3>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Numero</th>
            <th>Domicilio</th>
            <th>Altura</th>
            <th>Metodo de Pago</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientesEncontrados">
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.numero }}</td>
            <td>{{ cliente.domicilio }}</td>
            <td>{{ cliente.altura }}</td>
            <td>{{ cliente.metodoPago }}</td>
            <td> <button (click)="enviarModificacion(cliente.id)">Actualizar Datos</button> <button (click)="confirmarYEliminarCliente(cliente.id)">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <!-- Tabla Principal de Clientes -->
  <div class="divTablePrincipal">
    <table>
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Numero</th>
          <th>Domicilio</th>
          <th>Altura</th>
          <th>Metodo de Pago</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientesFiltrados; trackByIndex">
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.numero }}</td>
          <td>{{ cliente.domicilio }}</td>
          <td>{{ cliente.altura }}</td>
          <td>{{ cliente.metodoPago }}</td>
          <td> <button (click)="enviarModificacion(cliente.id)">Actualizar</button> <button (click)="confirmarYEliminarCliente(cliente.id)">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</section>
