<section>
  <div class="div1">
    <div class="divInput">
      <p>Buscar:</p>
      <input type="text" placeholder="DNI" [(ngModel)]="dni" (keypress)="buscarClienteXDNI(dni,$event)">  
    </div>
    <div class="divModificar">
      
      @if(dni.length == 8 && n>=0){
        <div class="divTable">
          @if(n>=0){
            <table>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Numero</th>
                <th>Domicilio</th>
                <th>Altura</th>
                <th>Metodo de Pago</th>
              </tr>
                <tr>
                  <td>{{clienteEncontrado?.nombre }}</td>
                  <td>{{clienteEncontrado?.apellido }}</td>
                  <td>{{ clienteEncontrado?.numero }}</td>
                  <td>{{ clienteEncontrado?.domicilio }}</td>
                  <td>{{ clienteEncontrado?.altura }}</td>
                  <td>{{ clienteEncontrado?.metodoPago }}</td>
              </tr>
            </table>
            
          }@else if(n==-1){
            <p>Error vuelva a ingresar otro DNI</p>
          }
         </div>
         <div class="buttonDiv">
          <button (click)="enviarModificacion()">Modificar</button>
         </div>
      }@else {
        <p>Para modificar un cliente primero ingresar el DNI</p>
      }
    </div>
</div>
  
<div class="divTablePrincipal">
  <table>
    <thead>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Numero</th>
        <th>Domicilio</th>
        <th>Altura</th>
        <th>Metodo de Pago</th>
      </tr>
    </thead>
    <tbody>
    
      @for (cliente of clientes; track $index) {
        <tr>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.numero }}</td>
          <td>{{ cliente.domicilio }}</td>
          <td>{{ cliente.altura }}</td>
          <td>{{ cliente.metodoPago }}</td>
        </tr>
      }
      

    </tbody>
  </table>

</div>
 
</section>
