table {
    width: 100%;
    border-collapse: collapse;
}
  
  th, td {
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }

div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
input{
    height: 1.5rem;
}
button{
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 50px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  width: 6rem;
  height: 2rem;
}

button:hover {
  background-color: #0056b3; 

}

.div1{
  display:grid;
  grid-template-rows: 0.5fr 1fr;

}
.divModificar{
  display: grid;
  grid-area: 2;
  align-self: start;
}
p{
  padding: 0;
  margin: 0;
}
.filtro-pedidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
  margin-top: 4rem;
}

.filtro-pedidos h2 {
  font-size: 1.5rem;
  color: #0056b3;
  margin-bottom: 1rem;
  text-align: center;
}

.div-filtros {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.filtro-nom-ape,
.filtro-dni {
  display: flex;
  flex-direction: column;
}

.filtro-nom-ape label,
.filtro-dni label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

button.btn-reset {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 1rem;
}

button.btn-reset:hover {
  background-color: #c82333;
}
.tdButton{
  display: grid;
  grid-template-columns: repeat(2,0.4fr);
  justify-items: center;
  justify-content: center;
}
.divTablePrincipal{
  display: grid;
  grid-area: 2;
}
h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0.5rem;
  font-size: 3rem;
  color: #0056b3;
  border-radius: 0.3rem;
  text-shadow: 1px 1px 0 rgb(80, 80, 80);
}
